*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


.searchbar{
    margin-left: 10px;
}

.inpt1{
    border: none;
    height: 40px;
}

.inpt2{
    border: none;
    height: 40px;
}


.inpt1:focus,
.inpt2:focus{
    outline: none;
}

.fa-location-dot{
    color: #ff7e8b;
    font-size: 20px;
}

.fa-caret-down{
    color: #4f4f4f;
    padding-right: 15px;
    border-right: 2px solid #cfcfcf;
}

.small-navbar li a{
    font-size: 12px;
    color: #a5a5a5;
}

.small-navbar li a:hover{
    color: #ff7e8b;
}


.large-navbar {
    overflow: auto;
    white-space: nowrap;
    padding:20px 0;
  }
  
.large-navbar::-webkit-scrollbar{
     width:0;
}

.large-navbar a{
    font-size: 1.2rem;
    text-decoration: none;
    color: dimgrey;
    margin:0 30px 0 10px;
    font-weight: 500;
    padding-bottom: 15px;
    display: inline-block;
}

.large-navbar a img{
    width: 40px;
    margin-right:10px ;
}


.diningOut,.delivery,.nightLife{
    border-bottom: 3px solid #ff7e8b;
    color:#ff7e8b !important;
}


.large-navbar li a .bg-icon{
    padding: 10px;
    background-color: #e5f3f3;
    border-radius: 50px;
}

.clr-text{
    color: #f15665;
    font-size: 18px;
}

.text-responsive{
    font-size: 20px;
} 


.collection .img-card {
    background-size: cover;
    width: 100%;
    height: 50vh;
    border-radius: 10px;
    position: relative;
    padding:0 20px ;
}

.collection .img-card p{
    color: white;
    position: absolute;
    bottom: 0;
}

.collection .img-card p span{
    font-size: 18px;
}

.collection .img-card p span i{
    vertical-align: -1px;
}

.collection .img1{
    background:  url(images/pic1.avif);
}

.collection .img2{
    background-image: url(images/pic2.avif); 
}

.collection .img3{
    background-image: url(images/pic3.avif); 
}


.collection .img4{
    background-image: url(images/pic4.avif); 
}

.card-body .rating{
    padding: 2px 4px;
    background-color: #24963f;
    color: white;
    border-radius: 6px;

}

.card-body .rating i{
    font-size: 9px;
    vertical-align: 2px;
}

.card-img .card-img-top{
    border-radius: 20px;
    height: 40vh;
    background-size: cover;
}


.card:hover{
    box-shadow:2px 10px 16px 11px #e5dede;
    border-radius: 15px;
}


.small-text{
    font-size: 15px;
    text-overflow: ellipsis;
}

.ovrflw{
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.card-img div img{
    width: 22px;
}

.card-img{
    position: relative;
}

.card-img div{
    background: linear-gradient(90deg, rgb(17, 85, 203) 0%, rgb(83, 140, 238) 25%, rgb(17, 85, 203) 50%, rgba(17, 85, 203, 0.8) 80%, rgba(17, 85, 203, 0) 100%);
    padding: 0 20px;
    color: white;
    position: absolute;
     bottom: 1.2rem;
}


footer{
    margin: 5rem 0 1rem;
}


.dropdown-toggle i{
    vertical-align: -3px;
}

.accordion-button{
    font-size: 20px;
}



/* delivery page css start  */

.category{
    background-color: #f8f8f8;
}

.badges .fa-chevron-down{
    vertical-align: -2px;
    font-size: 14px;
}

.category .col-2 img{
    border-radius: 200px;
}

.brand .col-2 img{
    border-radius: 200px;

}

.crousal{
    overflow: auto;
    white-space: nowrap;
    text-align: center;
}


.crousal a{
    text-decoration: none;
    margin:0 20px;
    display: inline-block;
    text-decoration: none;
    color: black;
}


.crousal::-webkit-scrollbar{
    width:0;
}

.crousal a img{
    width: 170px;
}

.brand-crousal img{
    border-radius: 200px;
}

.line-height{
    margin-top: -12px;
}



@media only screen and (max-width: 992px) {
    .searchbar {
        display: none;
        background-color: #ff7e8b;
    }

  }


  
@media only screen and (max-width: 768px) {
    /* .large-navbar li a{
        font-size: 1rem; 
        white-space: nowrap;
    } */

    .ovrflw{
        min-width: 768px;
    }

    footer img{
        width: 120px;
    }

    .large-navbar li a img{
        width: 30px;
    }

    .clr-text{
        font-size: 15px;
    }

    .text-responsive{
        font-size: 15px;
    }

    .card-img .card-img-top{
        border-radius: 20px;
        height: 25vh;
        background-size: cover;
    }

    .accordion-button{
        font-size: 18px;
    }

 /* delivery media query */
    
 .crousal a img{
    width: 140px;
}

  }